body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding-top: 96px;
    background-color: #f9fafb;
}



h1 {
color: #415472;
font-size:xx-large;
max-width: 550px;
margin: auto;
margin-bottom: 28px;
    line-height: 32px;
}

h2{
    color: #415472;
    font-size:26px; 
    overflow-wrap:break-word;
    max-width: 700px;
    margin: auto;
    margin-bottom: 16px;
    line-height: 32px;
    
}

h4{
    color: #415472;
    font-size:medium; 
    margin-top: 16px;
    margin-bottom: 8px;
}




p {
    font-size: 16px;
    width: 55%;
    margin: auto;
    margin-bottom: 24px;
    line-height: 24px;
    color: #6a6e74;
    font-weight: normal;

}


#logo {
    height: 56px; /* Set the height of the logo */
    margin-right: 16px; /* Add some spacing between logo and nav */
    margin-left: -12px;
}


nav {
    background-color: rgba(250, 239, 215, 0.75); /* Use rgba for background color to apply opacity only to the color */
    backdrop-filter: blur(6px);
    padding: 0px 64px; /* Adjusted padding */
    width: auto;
    display: flex;
    align-items: center;
    flex-grow: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}


nav li {
    margin: 10px 8px; /* Adjusted margin */
    margin-right: 16px; /* Adjusted margin-right */
    background: #F4F6FF;
    padding: 8px; /* Adjusted padding */
    border-radius: 4px;
    font-size: small;
    justify-self: flex-end;
    
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;

}



nav a {
    text-decoration: none;
    color: #070809;
    font-weight: medium ;
}

#mainBody, #secondBody{
    text-align:center;
    margin: 0 auto; 
    padding: 8px;
    width:90vw;
    margin-bottom: 32px;



}

#hero{
    width:100%;
    height:auto;
    margin: 0 auto;
    display: grid;
    place-items: center;
    border-radius: 16px;

}



button {
    padding: 8px 16px;
    background-color: #414FC7;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-left: auto;
}

#conversion{
    margin-left: auto;
   align-items: center;
    
}
#conversion a {
    margin-right: 8px;
}
#hamburger {
    
    display:none;
     border: none;
     font-size: 16px;
     cursor: pointer;
 }


   
/*filter componenet styling*/

#filterContainer{
    background-color: white;
    padding: 16px;
    border: solid;
    border-radius: 16px 16px 0px 0px;
    border-color: rgb(65, 84, 114, .25);
    width: 45vw;
    align-content: baseline;  
    justify-self: center; 
    margin-left: auto;
    margin-right: auto;
   padding-bottom: 12px!important;
   margin-top: 48px;
   border-top-width: .75px;
    border-right-width: .75px;
    border-left-width: .75px;
    border-bottom-width: .5px;
    box-shadow: 2px 2px 4px 4px rgb(65, 84, 114,.025);

  

}

#filterPicture{
    width: 100%;
    height:auto;
    max-height: 350px;
    border-radius: 4px;
    object-fit:cover;
    object-position: center;

}


#filterBottom{
    background-color: #FAFBFF;
    padding: 16px;
    padding-top: 12px!important;
    padding-bottom: 2px!important;
 border: solid;
    border-top-width: 0px;
    border-right-width: .75px;
    border-left-width: .75px;
    border-bottom-width: .75px;
    border-radius: 0px 0px 16px 16px;
    border-color: rgb(65, 84, 114, .25);
    width: 45vw;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 28px;
    box-shadow: 2px 2px 4px 4px rgb(65, 84, 114,.045);
    border-color: rgb(65, 84, 114, .25);
    
}

.reflectionContent1{
    display: flexbox;
    align-items: start;
justify-items: left;
position: relative;


}

.reflectionContent1 p{
margin: 0;
text-align: left;


}

.reflectionContent2{
    display: flexbox;
    align-items: start;
justify-items: left;
position: relative;


}

.reflectionContent2 p{
margin: 0;
text-align: left;

}

.reflectionContent3{
    display: flexbox;
    align-items: start;
justify-items: left;
position: relative;


}

.reflectionContent3 p{
margin: 0;
text-align: left;

}

#filterContext{
   
    align-items: baseline;
    justify-content: space-between;
    align-content: baseline;  
}
.activeFilter{
    background-color:#edeffa;
    color: #415472;
    margin-right: 8px;
    margin-left: auto;
    border-style: solid;
    border-width: 2px;
    border-color:  #414FC7;
    border-radius: 8px;
    
}
.inactiveFilter {
    background-color:#fafafa;
    color: #415472;
    margin-right: 8px;
    border-radius: 8px;
    border-style: solid;
   border-color: rgb(106, 110, 116, .25);
   border-width: .25px;

}

#badge{
    background-color:#fafafa;
    border-radius: 8px;
    padding: 4px 12px;
    font-size:small;
    font-weight: 500;
    border: 1px solid rgb(106, 110, 116, .15);
    justify-self:start ; 
 width: auto !important;
 margin-bottom: 12px;
  
}

#stackContainer{
    text-align:center;
    margin: 0 auto; 
    width:90vw;
    height: auto;
    margin-bottom: 16px;
}

.stack {
    position: sticky;

    width: 100%;
   
    transition: position 0.5s ease;
 
    
    
  }


  

.stack_card {
    
    border-radius: 16px;
    border: solid .75px;
    border-color: rgb(65, 84, 114, .25);
    align-items: center;
    width: 50vw;
    position: sticky;
    top: 90px;
    box-shadow: 0 -1px 3px rgba(local-shadow-color, .1), 0 -1px 2px rgba(local-shadow-color, .25);
    margin-left: auto;
    margin-right: auto;
    padding: 24px;
    margin-bottom: 180px;
    margin-top: 48px;
    
    height:auto;
  }
  
  .stack_card:nth-child(1) {
    background-color: #FAFBFF;    
    z-index: 1;
    box-shadow: 2px 2px 4px 4px rgb(65, 84, 114,.045);

  }
  
  .stack_card:nth-child(2) {
    background-color: #FAFBFF;    
    z-index: 2;



  }

  .stack_card:nth-child(3) {
    background-color: #FAFBFF;    
    z-index: 3;
    

    
    

  }

  .stack_card:nth-child(4) {
    background-color: #FAFBFF;    
    z-index: 4;
    margin-bottom: -80px!important;
    

    
    

  }


  
  

   
/*responsive styling*/

@media (max-width: 770px) and (min-width:320px) {

    nav {
        background-color: rgba(250, 239, 215, 0.75); /* Use rgba for background color to apply opacity only to the color */
        backdrop-filter: blur(6px);
        padding: 8px 32px; /* Adjusted padding */
        width: auto;
        display: flex;
        flex-direction:grid;
        justify-content: center;
        justify-items: center;
        flex-grow: 1;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
      row-gap: 0px;
    }



    nav ul {
        flex-direction: column; /* Change flex-direction to column */
        align-items: center;
        margin-right: 16px;
        display: block;
        flex-direction: column;
    }

    nav li {
        margin: 10px 0;
        margin-right: 5px;
        background: #F4F6FF;
        padding: 8px;
        border-radius: 4px;
        font-size: x-small;
        justify-content: center;
        display: block;
        flex-direction: grid;
    }


    #logo {
        height: 48px;
        margin-right: 8px; /* Add some spacing between logo and nav */
    }

    #conversion {
        margin: 8px;
        align-items: center;
        display: flex;
        font-size: x-small;
        display: none; /* Hide conversion elements by default */
        flex-direction: column;
        justify-self: center;
        gap: 8px ;
        display: block;
    }

    #hamburger {
        display: block!important; /* Display the hamburger icon */
        
    }

    #mainBody, #secondBody{
        text-align:center; 
        padding: 16px;
        align-self: center;
        margin-bottom: 16px;
        
    
    }

    h1{
        font-size: x-large;
    }

 h2{

font-size:18px;
 color: #415472;
 overflow-wrap:break-word;
 max-width: 700px;
 margin: auto;
 margin-bottom: 16px;
 line-height: 24px;
            
        
    }

    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding-top: 72px;
        background-color: #f9fafb;
        justify-content: center;
        align-items: center;
    }
  

    p {
        font-size: 14px;
        color: #6a6e74;
        line-height: 20px;
        width: 95%;
        text-align: center;
        margin: auto;
        margin-bottom: 32px;
     


    }

    #hero{
        width:100%;
        height:auto;
        margin: 0 auto;
        display: block;
        border-radius: 4px;
        margin-top: 8px;

    }

    .filters{
        display: flex;
        overflow: scroll;
        height: auto;
    }
    
    .activeFilter{
        background-color:#edeffa;
        color: #415472;
        margin-right: 8px;
        margin-left: auto;
        margin-bottom: 4px;
        width:fit-content;
        white-space: nowrap;
        border-style: solid;
        border-width: 1px;
        border-color: #414FC7;
        border-radius: 8px;

    }
    .inactiveFilter {
        background-color: #fafafa;
        color: #415472;
        margin-right: 8px;
        margin-bottom: 4px;
        width:fit-content;
        white-space: nowrap;
        border-radius: 8px;
        border-style: solid;
        border-color: rgb(106, 110, 116, .25);
        border-width: .25px;
       
    
    }

    #filterContainer{
        background-color: white;
        padding: 16px;
        border: solid;
        border-radius: 16px 16px 0px 0px;
        border-color: rgb(65, 84, 114, .25);
        width:auto;
        align-content: baseline;  
        border-top-width: 1px;
        border-right-width: 1px;
        border-left-width: 1px;
        border-bottom-width: .75px;
        margin-top:28px;
        
       
    }

    #filterPicture{
        width: 100%;
        height: 100%;
        border-radius: 4px;
        aspect-ratio: 16/12;
    }

    #filterBottom{
        background-color: #FAFBFF;
        padding: 16px;
        border: solid;
        border-top-width: 0px;
        border-right-width: 1px;
        border-left-width: 1px;
        border-bottom-width: 1px;
        border-radius: 0px 0px 16px 16px;
        width: auto;
        height: auto;
        align-content: baseline;  
        justify-self: center; 
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 8px;
        box-shadow: 2px 2px 4px 4px rgb(65, 84, 114,.045);
        border-color: rgb(65, 84, 114, .25);
    
    }
    
    #filterPicture{
        width: 100%;
        height:auto;
        max-width: auto;
        max-height: 200px;
        border-radius: 4px;
        object-fit:cover;
        object-position: center;
    
    }
    
    #badge{
    
        border: 1px solid rgb(106, 110, 116, .15); 
        border-radius: 8px;
        padding: 4px 8px 4px 8px;
        width: fit-content;
        font-size:x-small;
        align-self: center;
    
    }

    .stack_card {
    
        border-radius: 16px;
        border: solid, 1px;
        align-items: center;
        width:auto;
        position: sticky;
        top: 128px;
        box-shadow: 0 -1px 3px rgba(local-shadow-color, .1), 0 -1px 2px rgba(local-shadow-color, .25);
        margin-left: auto;
        margin-right: auto;
        padding: 16px;
        margin-top:28px ;
        
        border-color: rgb(65, 84, 114, .25);
        
      }

}





