body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding-top: 96px;
    background-color: #f9fafb;
}



h1 {
color: #415472;
font-size:48px;
max-width: 700px;
margin: auto;
margin-bottom: 28px;
line-height: 48px;
}

h2{
    color: #415472;
    font-size:28px; 
    overflow-wrap:break-word;
    max-width: 700px;
    margin: auto;
    margin-bottom: 16px;
    line-height: 32px;
    
}

h3{
    color:#5d5db1;
        font-size:medium; 
        font-weight: 700;
       margin: auto;
       margin-top: 8px;
       margin-bottom: 8px;
}


h4{
    color: #58585d;
    font-size: 14px;
    font-weight:600;
    margin: auto;
    margin-top: 8px;
    margin-bottom: 8px;
}




p {
    font-size: 16px;
    width: 55%;
    margin: auto;
    margin-bottom: 24px;
    line-height: 24px;
    color: #6a6e74;
    font-weight: normal;

}


#logo {
    height: 48px; /* Set the height of the logo */
    margin-right: 8px; /* Add some spacing between logo and nav */
    margin-left: -8px;
}


nav {
    background-color: rgba(255, 255, 255, 0.25); /* Use rgba for background color to apply opacity only to the color */
    backdrop-filter: blur(6px);
    padding: 0px 12px; /* Adjusted padding */
    width: 70vw;
    display: flex;
    align-items: center;
    flex-grow: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    margin: auto;
    margin-top: 8px;
    border-radius: 50px;
    border: solid;
    box-shadow: 2px 2px 2px 2px rgba(49, 106, 197, 0.025);
    border-color: rgb(65, 79, 199,.15);
}


nav li {
    margin: 10px 8px; /* Adjusted margin */
    margin-right: 16px; /* Adjusted margin-right */
    padding: 8px; /* Adjusted padding */
    border-radius: 4px;
    font-size: small;
    justify-self: flex-end;
    
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;

}



nav a {
    text-decoration: none;
    color: #070809;
    font-weight: medium ;
    font-size: 14px;
}

#mainBody, #secondBody{
    text-align:center;
    margin: 0 auto; 
    padding: 8px;
    width:90vw;
    margin-bottom: 72px;



}

#hero{
    width:100%;
    height:auto;
    margin: 0 auto;
    display: grid;
    place-items: center;
    border-radius: 16px;
    aspect-ratio: auto; 

}

.filters{
    display: flex;
   text-wrap:nowrap;
    overflow: scroll;
    height: auto;
    width: auto;
    margin: auto;
   
}


button {
    padding: 8px 16px;
    background-color: #414FC7;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-left: auto;
}

#actionButton {
    padding: 8px 16px;
    background-color: #414FC7;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-left: auto;
    box-shadow: 2px 2px 12px 12px rgb(65, 84, 114,.005);
}


#actionButton:hover {
    padding: 8px 16px;
    background-color: #5261e5;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-left: auto;
    box-shadow: 2px 2px 12px 12px rgb(65, 84, 114,.005);
}

#conversion{
    margin-left: auto;
   align-items: center;
    
}
#conversion a {
    margin-right: 28px;
}
#hamburger {
    
    display:none;
     border: none;
     font-size: 16px;
     cursor: pointer;
 }


   
/*filter componenet styling*/

#filterContainer{
    background-color: white;
    padding: 16px;
    border: solid;
    border-radius: 16px 16px 0px 0px;
    border-color: rgb(65, 84, 114, .25);
    width: 45vw;
    align-content: center;  
    justify-self: center; 
    margin-left: auto;
    margin-right: auto;
   padding-bottom: 12px!important;
   margin-top: 36px;
   border-top-width: .75px;
    border-right-width: .75px;
    border-left-width: .75px;
    border-bottom-width: .5px;
    box-shadow: 2px 2px 4px 4px rgb(65, 84, 114,.025);

  

}

#filterPicture{
    width: 100%;
    height:auto;
    max-height: 400px;
    border-radius: 4px;
    object-fit:cover;
    object-position: center;
    position: relative;
    aspect-ratio: auto; 

}


#filterBottom{
    background-color: #FAFBFF;
    padding: 16px;
    padding-top: 12px!important;
    padding-bottom: 2px!important;
 border: solid;
    border-top-width: 0px;
    border-right-width: .75px;
    border-left-width: .75px;
    border-bottom-width: .75px;
    border-radius: 0px 0px 16px 16px;
    border-color: rgb(65, 84, 114, .25);
    width: 45vw;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 16px;
    box-shadow: 2px 2px 4px 4px rgb(65, 84, 114,.045);
    border-color: rgb(65, 84, 114, .25);
    
}

.reflectionContent1{
    display: flexbox;
    align-items: start;
justify-items: left;
position: relative;


}

.reflectionContent1 p{
margin: 0;
text-align: left;


}

.reflectionContent2{
    display: flexbox;
    align-items: start;
justify-items: left;
position: relative;


}

.reflectionContent2 p{
margin: 0;
text-align: left;

}

.reflectionContent3{
    display: flexbox;
    align-items: start;
justify-items: left;
position: relative;


}

.reflectionContent3 p{
margin: 0;
text-align: left;

}

#filterContext{
   
    align-items: center;
    justify-content: center;
    align-content: center;  
}

.filters{
    display: flex;
    overflow: scroll;
    height: auto;
    width: 90%;
    gap: 4px;
}


.activeFilter{
    background-color:#edeffa;
    color: #415472;
    border-style: solid;
    border-width: 2px;
    border-color:  #414FC7;
    border-radius: 8px;
    margin-right: auto;
    margin-left: auto;
    
}
.inactiveFilter {
    background-color:#fafafa;
    color: #415472;
    border-radius: 8px;
    border-style: solid;
   border-color: rgb(106, 110, 116, .25);
   border-width: .25px;
   margin-right: auto;
margin-left: auto;

}

#badge{
    background-color:#fafafa;
    border-radius: 8px;
    padding: 4px 12px;
    font-size:small;
    font-weight: 500;
    border: 1px solid rgb(106, 110, 116, .15);
    justify-self:start ; 
 width: auto !important;
 margin-bottom: 16px;
  
}

#stackContainer{
    text-align:center;
    margin: 0 auto; 
    width:90vw;
    height: auto;
    margin-bottom: 64px;
}

.stack {
    position: sticky;

    width: 100%;
   
    transition: position 0.5s ease;
 
    
    
  }


  

.stack_card {
    
    border-radius: 16px;
    border: solid .75px;
    border-color: rgb(65, 84, 114, .25);
    align-items: center;
    width: 48vw;
    position: sticky;
    top: 90px;
    box-shadow: 0 -1px 3px rgba(local-shadow-color, .1), 0 -1px 2px rgba(local-shadow-color, .25);
    margin-left: auto;
    margin-right: auto;
    padding: 24px;
    margin-bottom: 180px;
    margin-top: 36px;
    
    height:auto;
  }
  
  .stack_card:nth-child(1) {
    background-color: #FAFBFF;    
    z-index: 1;
    box-shadow: 2px 2px 4px 4px rgb(65, 84, 114,.045);

  }
  
  .stack_card:nth-child(2) {
    background-color: #FAFBFF;    
    z-index: 2;



  }

  .stack_card:nth-child(3) {
    background-color: #FAFBFF;    
    z-index: 3;
    

    
    

  }

  .stack_card:nth-child(4) {
    background-color: #FAFBFF;    
    z-index: 4;
    

    
    

  }

  .stack_card:nth-child(5) {
    background-color: #FAFBFF;    
    z-index: 5;
    margin-bottom: -80px!important;
    

    
    

  }

  #cardContainer {
   
    display: flex;
    flex-wrap:wrap;
    align-self: center;
    align-content: center;
    gap: 24px;
    margin-top: 36px;
    justify-items: center;
   justify-content: center;
}

  #card{
    background-color: #ffffff;
    padding: 16px;
    border: .25px solid;
    border-radius: 10px;
    width:390px;
    align-content: flex-start;
    box-shadow: 2px 2px 4px 4px rgba(49, 106, 197, 0.025);
    border-color: rgb(65, 84, 114,.15);
  }



  .svg{
    background-color: #fafafa;
    padding: 6px;
    border-radius: 5px;
    color: rgb(106, 110, 116, .85);
   margin-right: 8px;
   border: 1px solid rgb(129, 134, 205, .5);
   stroke-width: 2px;
   width:auto;
  
   

  }

  #scrollSection {

    background-color: white;
    width: 70vw;
    height: 200px;
    margin: auto;
    display: flex;
    padding: 16px;
    border-radius: 12px;
    border: solid .75px;
    border-color: rgb(65, 84, 114,.15);
    box-shadow: 2px 2px 4px 4px rgba(49, 106, 197, 0.025);

overflow:hidden;
margin-bottom: 64px;

  }

  #scroll-container {
    height: auto;
    overflow:hidden;
    width: auto;
    margin: auto;
    height: auto;

  
  }

  #CTA{
    display: grid;
   justify-content: flex-start;
    align-content: center;
    gap: 16px;
    text-align: left;
    margin-right: auto;
    width: auto;
   }


  #scrolltext {
    height: 100%;
    width: fit-content;
    text-align: center;
    justify-self: center;
  
    /* animation properties */
    transform: translateY(-100%);
    animation: my-animation 16s linear infinite;
  }
  
  /* Define keyframes for animation */
  @keyframes my-animation {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(-100%);
    }
  }

  .paused{
    animation-play-state: paused;
  }


  

   
/*responsive styling*/

@media (max-width: 768px) and (min-width:275px) {

    nav {
        background-color: rgba(255, 255, 255, 0.25); 
        backdrop-filter: blur(6px);
        padding: 8px 8px; /* Adjusted padding */
        width: auto;
        display: flex;
        flex-direction:grid;
        justify-content: center;
        justify-items: center;
        flex-grow: 1;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
      row-gap: 8px;
      border-radius: 0px;
      margin-top: 0px;
    }



    nav ul {
        flex-direction: column; /* Change flex-direction to column */
        align-items: center;
     
        display: block;
        flex-direction: column;
    }

   nav li {
        font-size: x-small;
        justify-content: center;
        display: block;
        flex-direction: grid;
        margin-bottom: 8px;
        margin-right: auto;
        margin-left: auto;
    }


    #logo {
        height: 48px;
        margin-right: 8px; /* Add some spacing between logo and nav */
    }

    #conversion {
text-align: center;
        margin:auto;
        display: flex;
        font-size: x-small;
        display: none; /* Hide conversion elements by default */
        flex-direction: column;
        justify-self: center;
        gap: 16px ;
        display: block;
    }

    #conversion a {
      margin: auto;
      margin-bottom: 8px;
    }

    #hamburger {
        display: block!important; /* Display the hamburger icon */
        
    }

    #mainBody, #secondBody{
        text-align:center; 
        padding: 16px;
        align-self: center;
        margin-bottom: 48px;
        
    
    }

    h1{
        font-size: 24px;
        margin-bottom: 28px;
        line-height: 32px;
    }

 h2{

font-size:20px;
 color: #415472;
 overflow-wrap:break-word;
 margin: auto;
 margin-bottom: 16px;
 line-height: 28px;
            
        
    }


    

    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding-top: 64px;
        background-color: #f9fafb;
        justify-content: center;
        align-items: center;
    }
  

    p {
        font-size: 12px;
        color: #6a6e74;
        line-height: 20px;
        width: 95%;
        text-align: center;
        margin: auto;
        margin-bottom: 32px;
     


    }

button {
        padding: 8px 11px;
        background-color: #414FC7;
        color: #fff;
        border: none;
        border-radius: 50px;
        margin-left: auto;
    }
    

    #hero{
        width:100%;
        height:auto;
        margin: 0 auto;
        display: block;
        border-radius: 4px;
        margin-top: 8px;

    }

    .filters{
        display: flex;
        overflow: scroll;
        height: auto;
        width: auto;
        gap: 16px;
    }
    
    .activeFilter{
        background-color:#edeffa;
        color: #415472;
        margin-bottom: 4px;
        width:fit-content;
        white-space: nowrap;
        border-style: solid;
        border-width: 1px;
        border-color: #414FC7;
        border-radius: 8px;

    }
    .inactiveFilter {
        background-color: #fafafa;
        color: #415472;
        margin-bottom: 4px;
        width:fit-content;
        white-space: nowrap;
        border-radius: 8px;
        border-style: solid;
        border-color: rgb(106, 110, 116, .25);
        border-width: .25px;
       
    
    }

    #filterContainer{
        background-color: white;
        padding: 16px;
        border: solid;
        border-radius: 16px 16px 0px 0px;
        border-color: rgb(65, 84, 114, .25);
        width:80vw;
        align-content: baseline;  
        border-top-width: 1px;
        border-right-width: 1px;
        border-left-width: 1px;
        border-bottom-width: .75px;
        margin-top:28px;
        
       
    }

    #filterPicture{
        width: 100%;
        height: 100%;
        border-radius: 4px;
        aspect-ratio: 4/3;
        object-position: center;
        object-fit: cover;
    }

    #filterBottom{
        background-color: #FAFBFF;
        padding: 16px;
        border: solid;
        border-top-width: 0px;
        border-right-width: 1px;
        border-left-width: 1px;
        border-bottom-width: 1px;
        border-radius: 0px 0px 16px 16px;
        width: 80vw;
        height: auto;
        align-content: baseline;  
        justify-self: center; 
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 8px;
        box-shadow: 2px 2px 4px 4px rgb(65, 84, 114,.045);
        border-color: rgb(65, 84, 114, .25);
    
    
    }
    
    #filterPicture{
        width: 100%;
        height:auto;
        max-width: auto;
        max-height: 200px;
        border-radius: 4px;
        object-fit:cover;
        object-position: center;
        aspect-ratio: 4/3;
    
    }
    
    #badge{
    
        border: 1px solid rgb(106, 110, 116, .15); 
        border-radius: 8px;
        padding: 4px 8px 4px 8px;
        width: fit-content;
        font-size:12px;
        align-self: center;
    
    }

    #stackContainer{
        text-align:center;
        margin: 0 auto; 
        width:90vw;
        height: auto;
        margin-bottom: 8px;
    }

    .stack_card {
    
        border-radius: 16px;
        border: solid, 1px;
        align-items: center;
        width:auto;
        position: sticky;
        top: 100px;
        box-shadow: 0 -1px 3px rgba(local-shadow-color, .1), 0 -1px 2px rgba(local-shadow-color, .25);
        margin-left: auto;
        margin-right: auto;
        padding: 16px;
        margin-top:28px ;
        border-color: rgb(65, 84, 114, .25);
        
      }




      #scrollSection {

gap:16px;
        background-color: white;
        width: 80vw;
        margin: auto;
        display: grid;
        border-radius: 12px;
        border: solid .75px;
    align-items: center;
    margin-bottom: 64px;
    border-color: rgb(65, 84, 114,.15);
    height: 320px;

    
      }
    
#CTA{
    display: grid;
    gap: 16px;
   }


  #scrolltext {
    height: 100%;
    width: auto;
    text-align: center;
    justify-self: center;
    justify-content: center;
    margin: auto;
    border: #070809;
  
  }


}





