body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding-top: 96px;
    background-color: #fafafa;
}

h1 {
color: #415472;
font-size:xx-large;
}

p {
    font-size: 16px;
    color: #3a3535;

}
#logo {
    height: 64px; /* Set the height of the logo */
    margin-right: 16px; /* Add some spacing between logo and nav */
}


nav {
    background-color: #faefd7;
    padding: 8px 16px; /* Adjusted padding */
    width: auto;
    display: flex;
    align-items: center;
    flex-grow: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  
}

nav li {
    margin: 10px 8px; /* Adjusted margin */
    margin-right: 16px; /* Adjusted margin-right */
    background: #F4F6FF;
    padding: 8px; /* Adjusted padding */
    border-radius: 4px;
    font-size: small;
    justify-self: flex-end;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;

}



nav a {
    text-decoration: none;
    color: #070809;
    font-weight: medium ;
}

#mainBody{
    text-align:center;
    margin: 8px; 

}


button {
    padding: 8px 16px;
    background-color: #414FC7;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-left: auto;
}

#conversion{
    margin-left: auto;
   align-items: center;
    
}
#conversion a {
    margin-right: 8px;
}
#hamburger {
    
    display:none;
     border: none;
     font-size: 16px;
     cursor: pointer;
 }

/*responsive styling*/

@media (max-width: 768px) {

    nav ul {
        flex-direction: column; /* Change flex-direction to column */
        align-items: center;
        margin-right: 16px;
        display: block;
    }

    nav li {
        margin: 10px 0;
        margin-right: 5px;
        background: #F4F6FF;
        padding: 8px;
        border-radius: 4px;
        font-size: x-small;
        display: block!important; /* Hide navigation links by default */
    }

    #logo {
        height: 48px;
        margin-right: 8px; /* Add some spacing between logo and nav */
    }

    #conversion {
        margin: 8px;
        align-items: center;
        display: flex;
        font-size: x-small;
        display: none; /* Hide conversion elements by default */
        flex-direction: column;
        gap: 8px ;
    }

    #hamburger {
        display: block!important; /* Display the hamburger icon */
    }

    h1{
        font-size: x-large;
    }

    p {
        font-size: 14px;
        color: #3a3535;

    }

}





