body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding-top: 96px;
    background-color: #f9fafb;
    justify-content: center;
    align-items: center;
}

h1 {
color: #415472;
font-size:xx-large;
}

h2{
    color: #415472;
    font-size:x-large; 
}




p {
    font-size: 12px;
    width: 55%;
    text-align: center;
    margin: auto;
    margin-bottom: 24px;
    line-height: 24px;
    color: #6a6e74;
    font-size:large; 
    font-weight: normal;

}

#logo {
    height: 64px; /* Set the height of the logo */
    margin-right: 16px; /* Add some spacing between logo and nav */
}


nav {
    background-color: rgba(250, 239, 215, 0.75); /* Use rgba for background color to apply opacity only to the color */
    backdrop-filter: blur(6px);
    padding: 8px 16px; /* Adjusted padding */
    width: auto;
    display: flex;
    align-items: center;
    flex-grow: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}


nav li {
    margin: 10px 8px; /* Adjusted margin */
    margin-right: 16px; /* Adjusted margin-right */
    background: #F4F6FF;
    padding: 8px; /* Adjusted padding */
    border-radius: 4px;
    font-size: small;
    justify-self: flex-end;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;

}



nav a {
    text-decoration: none;
    color: #070809;
    font-weight: medium ;
}

#mainBody, #secondBody{
    text-align:center;
    margin: 0 auto; 
    padding: 8px;
    width:80vw;
    margin-bottom: 72px;



}

#hero{
    width:100%;
    height:auto;
    margin: 0 auto;
    display: grid;
    place-items: center;
    border-radius: 25px;
}



button {
    padding: 8px 16px;
    background-color: #414FC7;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-left: auto;
}

#conversion{
    margin-left: auto;
   align-items: center;
    
}
#conversion a {
    margin-right: 8px;
}
#hamburger {
    
    display:none;
     border: none;
     font-size: 16px;
     cursor: pointer;
 }


   
/*filter componenet styling*/

#filterContainer{
    background-color: #fafafa;
    padding: 32px;
    border: 1.75px solid;
    border-radius: 16px 16px 0px 0px;
    border-color: rgb(135, 133, 133,.25);
    width:auto;
    align-content: baseline;   
}

#filterContext{
   
    align-items: baseline;
    justify-content: space-between;
    align-content: baseline;   
}
.activeFilter{
  
    margin-right: 8px;
    margin-left: auto;
    margin-bottom: 8px;
}
.inactiveFilter {
    background-color:#edeffa;
    color: #415472;
    margin-right: 8px;
    margin-bottom: 8px;
   

}

   
/*responsive styling*/

@media (max-width: 770px) and (min-width:320px) {

    nav {
        background-color: rgba(250, 239, 215, 0.75); /* Use rgba for background color to apply opacity only to the color */
        backdrop-filter: blur(6px);
        padding: 8px 32px; /* Adjusted padding */
        width: auto;
        display: flex;
        flex-direction:column;
        justify-content: center;
        justify-items: center;
        flex-grow: 1;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
      row-gap: 0px;
    }



    nav ul {
        flex-direction: column; /* Change flex-direction to column */
        align-items: center;
        margin-right: 16px;
        display: block;
    }

    nav li {
        margin: 10px 0;
        margin-right: 5px;
        background: #F4F6FF;
        padding: 8px;
        border-radius: 4px;
        font-size: x-small;
        justify-content: center;
        display: block!important; /* Hide navigation links by default */
    }

    #logo {
        height: 48px;
        margin-right: 8px; /* Add some spacing between logo and nav */
    }

    #conversion {
        margin: 8px;
        align-items: center;
        display: flex;
        font-size: x-small;
        display: none; /* Hide conversion elements by default */
        flex-direction: column;
        justify-self: center;
        gap: 8px ;
    }

    #hamburger {
        display: block!important; /* Display the hamburger icon */
        
    }

    #mainBody, #secondBody{
        text-align:center; 
        padding: 32px;
        align-self: center;
        
    
    }

    h1{
        font-size: x-large;
    }

    h2{
        font-size:large;
    }

    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding-top: 96px;
        background-color: #f9fafb;
        justify-content: center;
        align-items: center;
    }
  

    p {
        font-size: 14px;
        color: #3a3535;
        line-height: 20px;
        width: 95%;
        text-align: center;
        margin: auto;
        margin-bottom: 16px;
     


    }

    #hero{
        width:100%;
        height:auto;
        margin: 0 auto;
        display: block;
        border-radius: 8px;

    }
    

}





